/* nav {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #191919;
    color: white;
}

.title {
    margin-left: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.links {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-text {
    color: white;
    text-decoration: none;
} */