.projects {
  color: #683b2f;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 600;
  height: 50vw;
  width: auto;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../assets/headshot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
  }

  @media (max-width: 701px) {
    .projects {
      height: unset;
      background: unset;
      background-repeat: unset;
      background-size: unset;
      background-position: unset;
      }
  }